%h1 Cropping Your Bio Photo
Use the clipping tool below to crop your picture to frame you perfectly!
%br
%br
= form_for [@event, @participant], html: {class: "form-horizontal", multipart: true} do |f|

  .col-xs-12.col-sm-8
    .form-group
      = f.cropbox :avatar, width: 800
    .form-group
      = f.submit 'Save', class: "btn btn-info", style: "min-width:200px;"