.row
  .col-xs-12
    %h1
      = @event.name
      Invited
%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Email
      %th Status
      %th
      %th
      %th

  %tbody
    - @event.invites.each do |invite|
      %tr
        %td= invite.name
        %td= invite.email
        %td
          -if invite.sent
            Sent
.row
  .col-xs-12
    %p
      =link_to invite_list_event_path(@event), class: "btn btn-info" do
        Invite More Attendees
      