#preview
  .row{style:"margin-top:250px;"}
    .col-xs-3
      &nbsp;
    .col-xs-9{style:"border-top: 2px solid grey;"}
      .text-right
        %h1 CEO Monthly Breakfast Series
        %h2 Hosted By Philippe Dauman
  .row{style:"margin-top:250px;"}
    .col-xs-3
      &nbsp;
    .col-xs-9
      .text-right
        %h1{style:"font-size:24px;color: #67686b;"}
          = @event.event_date.strftime("%A, %B %d, %Y")
        %h2{style:"font-size:25px;color: #67686b;"}
          =@event.focus_area
  .row{style:"margin-top:250px;"}
    .col-xs-10
      &nbsp;
    .col-xs-2
      =wicked_pdf_image_tag("viacom-logo.png", class:"img-responsive", style: "max-width:200px;")

  .pdf-page-break
  .row
    .col-xs-9
      .event-data-box
        %h1 CEO Monthly Breakfast Series
        %h2 Hosted By Philippe Dauman
        %h4
          = @event.event_date.strftime("%A, %B %d, %Y")
    .col-xs-1
    .col-xs-2
      =wicked_pdf_image_tag("viacom-logo.png", class:"img-responsive", style: "max-width:200px;")

  #participant-area
    -@event.participants.each_with_index do |participant, i|
      .row.participant-row
        .col-xs-4
          .dotted-border
            =wicked_pdf_image_tag(participant.avatar.url(:cropped), class: "img-responsive")
        .col-xs-8
          %h1
            =participant.name
          %h2
            =participant.title
          %h3
            =participant.division
          %p
            =participant.biography
      -if (i+1).modulo(3).zero?
        .pdf-page-break
        .row
          .col-xs-9
            .event-data-box
              %h1{style:"color:#2bb7e8;text-transform:uppercase;margin-bottom:0;"} CEO Monthly Breakfast Series
              %h2{style:"font-family: 'Horley';font-style:oblique;margin-top:0;color: #67686b;font-size:29px;text-transform:none;"} Hosted By Philippe Dauman
              %h4
                = @event.event_date.strftime("%A, %B %d, %Y")
          .col-xs-1
          .col-xs-2
            =wicked_pdf_image_tag("viacom-logo.png", class:"img-responsive", style: "max-width:200px;")