%h1 CEO MONTHLY BREAKFAST SERIES
%h3 Hosted By Philippe Dauman

-if current_user
  =link_to new_event_path do
    .btn.btn-info
      Create an Event
  =link_to events_path do
    .btn.btn-success
      See All Events
-else
  =link_to new_user_session_path do
    .btn.btn-info
      Sign In
