@import "bootstrap";

.blue-header{
  background:#e7e7e7!important;
  padding:30px;
  margin-bottom:30px; 
}

.white-font{
  color:white!important;
}

.email-btn{
  color:white!important;
  background-color:#46b8da!important;
}

.dark-font{
  color:#545454!important;
}
.blue-font{
  color:#2bb7e8!important;  
}

.red-font{
  color:#d02630!important;
}

.no-margin{
  margin: 0 !important;
}