// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#preview {
  h1 {
    color:#2bb7e8;
    text-transform:uppercase;
    font-weight:bold;
    margin-bottom:0;
  }
  h2{
    font-family: "Horley";
    font-style: oblique;
    margin-top:0;
  }
  h4{
    text-transform: uppercase;
  }
  .event-data-box {
    border-bottom: 2px solid grey;
  }
  color: #67686b;
}

#participant-area {
  h1 {
    color:#d02630;
    text-transform:capitalize;
  }
  h2 {
    color:#939598;
    font-family: "ExpoSSK";
    text-transform:uppercase;
    font-size: 22px;
  }
  h3 {
    color:#000;
    font-family: 'Horley';
    font-weight:bold;
    font-style:italic;
    font-size: 22px;
  }

  h1, h2, h3 {
    margin: 5px 0;
  }
  p{
    font-family: 'Century Old';
    font-size: 16px;
    color: #464646;
  }

  .participant-row {
    margin-top:40px;
  }

  .dotted-border{
    border: 2px dotted #929497;
    padding: 5px;
    img {
      border-radius:10px;
    }
  }
  
}

.html-pdf-area{
  background: #efefef;
  padding: 20px 10px;
}


.invite-member{
  margin: 10px 0;
}